body {
  background-color: rgb(244, 244, 234);
}

.accordion {
  padding: 1em;
  margin: 0 auto;
  overflow: hidden;
}
.accordionInput {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}
.accordionTitle {
  color: #000;
  display: block;
  font-weight: 600;
  padding: 1em;
  transition: all 0.7s ease-out;
}

.panel:active {
  opacity: 0.85;
}
.panel:not(:last-child) {
  border-bottom: 0.1em solid rgba(87, 82, 82, 0.6);
  margin: 0 0 0.4em 0;
  transition: 0.9s;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  cursor: pointer;
}

.plus {
  visibility: hidden;
  font-size: 2em;
  font-weight: 600;
  transition: 0.2s;
}

.accordionImage {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.accordionImage img {
  max-width: 40%;
  padding: 1em;
}

.accordionInput:checked + label > .accordionImage {
  max-height: 100em;
  transition: 1.2s;
}

.accordionInput:checked + label > .row > .plus {
  transform: rotate(45deg);
}

@media (hover: hover) {
  .accordion:hover > .panel > label > .row > .plus {
    visibility: visible;
  }
  .panel:hover > label > .accordionImage {
    max-height: 100em;
    transition: 1.2s;
  }
  .panel:hover > label > .row > .plus {
    transform: rotate(45deg);
    transition: all 0.33s;
  }
}

@media (hover: none) {
}

@media (320px <= width <= 425px) {
  .accordion {
    font-size: 0.8em;
    padding: 0.1em;
    transition: all 0.7s ease-out;
  }
  .accordionImage img {
    max-width: 55%;
    padding: 1em;
  }
}

@media (width > 1024px) {
  .accordion {
    max-width: 50%;
  }
  .accordionTitle {
    font-size: 1.1em;
    padding: 0.1em;
    transition: all 0.7s ease-out;
  }
  .accordionImage img {
    max-width: 40%;
    padding: 1.1em;
  }
}
@media (820px < width <= 1024px) {
  .accordion {
    max-width: 65%;
  }
  .accordionTitle {
    font-size: 1em;
    padding: 0.1em;
    transition: all 0.5s ease-out;
  }
  .accordionImage img {
    max-width: 45%;
    padding: 1em;
  }
}
@media (425px < width <= 820px) {
  .accordion {
    max-width: 80%;
  }
  .accordionTitle {
    font-size: 0.9em;
    padding: 0.1em;
    transition: all 0.5s ease-out;
  }
  .accordionImage img {
    max-width: 50%;
    padding: 1em;
  }
}
